# Telsco Customer Churn

## Importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Reading the dataset

In [2]:
churn_df = pd.read_parquet(
    "s3://churn-project-ntsikelelo/cleaned_data/part-00000-f0c63dd6-7830-43cc-a958-9fc5a00d3c53-c000.snappy.parquet",
    engine="pyarrow"
)

## Data exploration

In [3]:
churn_df.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,...,tenure_bucket,avg_monthly_spend,high_value_customer,has_premium_internet,has_multiple_services,partner_bool,dependents_bool,phone_service_bool,paperless_billing_bool,churn_bool
0,7590-VHVEG,Female,0,Yes,No,1,No,No,DSL,No,...,short,29.850000,0,0,0,True,False,False,True,False
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,long,55.573529,0,0,1,False,False,True,False,False
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,short,54.075001,0,0,1,False,False,True,True,True
3,7795-CFOCW,Male,0,No,No,45,No,No,DSL,Yes,...,long,40.905556,0,0,0,False,False,False,False,False
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,short,75.824997,0,1,1,False,False,True,True,True

In [4]:
churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             7043 non-null   object
 1   gender                  7043 non-null   object
 2   senior_citizen          7043 non-null   int32
 3   partner                 7043 non-null   object
 4   dependents              7043 non-null   object
 5   tenure                  7043 non-null   int32
 6   phone_service           7043 non-null   object
 7   multiple_lines          7043 non-null   object
 8   internet_service        7043 non-null   object
 9   online_security         7043 non-null   object
 10  online_backup           7043 non-null   object
 11  device_protection       7043 non-null   object
 12  tech_support            7043 non-null   object
 13  streaming_tv            7043 non-null   object
 14  streaming_movies        7043 non-null   object
 15  contract                7043 non-null   object
 16  paperless_billing       7043 non-null   object
 17  payment_method          7043 non-null   object
 18  monthly_charges         7043 non-null   float32
 19  total_charges           7043 non-null   float64
 20  churn                   7043 non-null   object
 21  churn_label             7043 non-null   int32
 22  tenure_bucket           7043 non-null   object
 23  avg_monthly_spend       7043 non-null   float64
 24  high_value_customer     7043 non-null   int32
 25  has_premium_internet    7043 non-null   int32
 26  has_multiple_services   7043 non-null   int32
 27  partner_bool            7043 non-null   bool
 28  dependents_bool         7043 non-null   bool
 29  phone_service_bool      7043 non-null   bool
 30  paperless_billing_bool  7043 non-null   bool
 31  churn_bool              7043 non-null   bool
dtypes: bool(5), float32(1), float64(2), int32(6), object(18)
memory usage: 1.3+ MB

In [5]:
churn_df.describe()

,senior_citizen,tenure,monthly_charges,total_charges,churn_label,avg_monthly_spend,high_value_customer,has_premium_internet,has_multiple_services
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,0.162147,32.371149,64.761696,2279.734304,0.265370,64.762906,0.378532,0.439585,0.686497
std,0.368612,24.559481,30.090048,2266.794471,0.441561,30.189796,0.485056,0.496372,0.463950
min,0.000000,0.000000,18.250000,0.000000,0.000000,13.775000,0.000000,0.000000,0.000000
25%,0.000000,9.000000,35.500000,398.549988,0.000000,35.935158,0.000000,0.000000,0.000000
50%,0.000000,29.000000,70.349998,1394.550049,0.000000,70.337502,0.000000,0.000000,1.000000
75%,0.000000,55.000000,89.849998,3786.599976,1.000000,90.174160,1.000000,1.000000,1.000000
max,1.000000,72.000000,118.750000,8684.799805,1.000000,121.400002,1.000000,1.000000,1.000000

In [6]:
churn_df.describe(exclude='number')

,customer_id,gender,partner,dependents,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,...,contract,paperless_billing,payment_method,churn,tenure_bucket,partner_bool,dependents_bool,phone_service_bool,paperless_billing_bool,churn_bool
count,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,...,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043
unique,7043,2,2,2,2,2,3,2,2,2,...,3,2,4,2,3,2,2,2,2,2
top,7590-VHVEG,Male,No,No,Yes,No,Fiber optic,No,No,No,...,Month-to-month,Yes,Electronic check,No,long,False,False,True,True,False
freq,1,3555,3641,4933,6361,4072,3096,5024,4614,4621,...,3875,4171,2365,5174,3927,3641,4933,6361,4171,5174

In [7]:
# churn_df.to_csv('data.csv')